/* styling in de huisstijl van https://tractie.ns.nl/2e23992f3/p/226ce1-tractie--ns-design-system */

/* ///////////// */
/* MARK: Basics
/* //////////// */
:root {
	color-scheme:light dark;
	--bg-clr: light-dark(#ffc917, #003082);
    --form-clr: light-dark(white, #ffc917);
 	--text-clr: #003082;
    --accent-clr: #0063d3;
    --border-clr: grey;
    --border-radius: .3em;
    --main-width: min(100vw, 800px);
}

/* fonts van ns.nl network */
@font-face {
    font-family: nssans;
    src: url(/assets/fonts/nssans-regular.ttf);
}

@font-face {
    font-family: nssansbold;
    src: url(/assets/fonts/nssans-bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    position: relative;
    background-color: var(--bg-clr);
    display: grid;
    justify-content: center;
}

header{
    position: absolute;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: red;
    padding: 1em;
    h2{
        text-transform: uppercase;
        color: white;
    }
}
main{
    width: var(--main-width);
}

h1{
    font-family: nssans, sans-serif;
    color: light-dark(#003082, #ffc917);
    padding: 7rem 0 .3rem 3rem;
}

h2{
    font-family: nssansbold, sans-serif;
    color: var(--text-clr);
}




/* ///////////// */
/* MARK: Form
/* //////////// */
section{
    display: grid;
    gap: .3rem;
    margin: 0 3rem 3rem 3rem;
    padding: 3rem;
    background-color: var(--form-clr);
    border-radius: var(--border-radius);
    font-family: nssans, sans-serif;
    form{
        display: grid;
        gap: 2rem;
        fieldset{
            width: 100%;
            legend{
                padding-bottom: .5em;
                color: var(--text-clr);
                font-family: nssansbold, sans-serif;
            }
            label{
                display: grid;
                gap: .3em;
                color: var(--text-clr);
                input{
                    background-color: white;
                    color: black;
                    border: solid var(--border-clr) 1px;
                    padding: .5em;
                    border-radius: var(--border-radius);
                }
                input[type="file"]{
                    background-color: transparent;
                    border: none;
                    padding: 0;
                }
            }
            label:has(input[type="radio"]){
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: .3em;
                input{
                    appearance: none;
                    padding: .5em;
                    border-radius: 50%;
                }
                input:checked{
                    box-shadow: inset 0 0 0 .3em rgb(82, 120, 62);
                }
            }
        }
        > fieldset{
            display: grid;
            gap: 2rem;
            padding-bottom: 2rem;
            border: var(--border-clr) 1px;
            border-style: none none solid;
        }
    }
    button{
        padding: 1rem;
        color: white;
        font-family: nssansbold, sans-serif;
        border-radius: var(--border-radius);
        background-color: var(--accent-clr);
    }
}


/* ///////////// */
/* MARK: Algorithm
/* //////////// */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Next-sibling_combinator */
/* Met hulp van Sanne */
fieldset fieldset:has(.ga-naar-volgende:checked) ~ :is(label,fieldset) {
    display: none;
}