/* styling in de huisstijl van https://tractie.ns.nl/2e23992f3/p/226ce1-tractie--ns-design-system */

/* ///////////// */
/* MARK: Basics
/* //////////// */
:root {
	color-scheme:light dark;
	--bg-clr: light-dark(#ffc917, #003082);
    --form-clr: light-dark(white, #ffc917);
 	--text-clr: #003082;
    --user-valid: #4fb00e;
    --user-invalid: red;
    --accent-clr: #0063d3;
    --border-clr: grey;
    --button-hover: rgba(0, 0, 0, 0.172);
    --border-radius: .3em;
    --form-width: min(90vw, 800px);
}

/* fonts van ns.nl network */
@font-face {
    font-family: nssans;
    src: url(/assets/fonts/nssans-regular.ttf);
}

@font-face {
    font-family: nssansbold;
    src: url(/assets/fonts/nssans-bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

body{
    position: relative;
    background-color: var(--bg-clr);
    display: grid;
    justify-content: center;
}

header{
    position: absolute;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: red;
    padding: 1em;
    h2{
        text-transform: uppercase;
        color: white;
        font-family: nssansbold, sans-serif;
    }
}

h1{
    font-family: nssans, sans-serif;
    color: light-dark(#003082, #ffc917);
    padding: 7rem 0 .5rem;
}

a{
    color: var(--accent-clr);
    font-family: nssansbold, sans-serif;
}

button, input::file-selector-button{
    position: relative;
    padding: 1rem;
    color: var(--accent-clr);
    font-family: nssansbold, sans-serif;
    background-color: transparent;
    border-radius: var(--border-radius  );
    border-color: var(--accent-clr);
    border-width: 1px;
    justify-self: start;
    border-style: solid;
    overflow: hidden;
    z-index: 0;
    cursor: pointer;
}

button::before{
    content: "";
    position: absolute;
    inset: 100% 100% 0; /* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/inset */
    background-color: var(--button-hover);
    z-index: -1;
}

button:hover::before {
    inset: 0;
    @media (prefers-reduced-motion: no-preference) {
        animation: button-hover 0.2s ease-out forwards;
    }
}

@keyframes button-hover{
    from{
        inset: 100% 0 0;
    }
    to{
        inset: 0;
    }
}

label{
    cursor: pointer;
    position: relative;
    &:has(input:user-valid:is([type="text"], [type="number"], [type="date"]))::before {
        position: absolute;
        content: "✓";
        right: 0;
        bottom: 0;
        transform: translateX(1.5em);
        color: var(--user-valid);
        width: 1.2em;
        aspect-ratio: 1;
        border-radius: 50%;
        text-align: center;
        border: solid 2px var(--user-valid);
    }
}

input{
    &:user-valid{
        border: solid 2px var(--user-valid);
    }
    &:user-invalid{
        border: solid 2px var(--user-invalid);
    }
    &:focus{
        outline: none;
        box-shadow: none;
        border: solid 3px var(--accent-clr);
    }
}


input:hover::file-selector-button{
    background-color: var(--button-hover);
}



strong{
    font-size: x-large;
}


/* ///////////// */
/* MARK: Form
/* //////////// */
section{
    display: grid;
    place-items: center;
    font-family: nssans, sans-serif;
    form{
        display: grid;
        width: var(--form-width);
        gap: 2rem;
        fieldset{
            legend{
                color: var(--text-clr);
                font-family: nssansbold, sans-serif;
                float: left;
                padding-bottom: .5em;
            }
            label{
                display: grid;
                gap: .3em;
                color: var(--text-clr);
                input{
                    background-color: white;
                    color: black;
                    border: solid var(--border-clr) 1px;
                    padding: .5em;
                    border-radius: var(--border-radius);
                }
                input[type="file"]{
                    background-color: transparent;
                    border: none;
                    padding: 0;
                    &:focus{
                        &::file-selector-button{        
                            border: solid 3px var(--accent-clr);  
                            background-color: var(--button-hover);   
                        }
                    }  
                }
                /* https://stackoverflow.com/questions/76844615/how-to-style-the-calendar-icon-in-a-date-input */
                input[type="date"]::-webkit-calendar-picker-indicator {
                    /* https://angel-rs.github.io/css-color-filter-generator/ */
                    filter: brightness(0) saturate(100%) invert(21%) sepia(81%) saturate(2570%) hue-rotate(201deg) brightness(105%) contrast(101%);
                }
            }
            label:has(input[type="radio"]){
                display: flex;
                align-items: center;
                gap: .5em;
                input{
                    appearance: none;
                    padding: .5em;
                    border-radius: 50%;
                    order: -1;
                }
                input:checked{
                    box-shadow: inset 0 0 0 .3em rgb(82, 120, 62);
                }
            }
        }
        fieldset:has(input[type="radio"]):not(:has(fieldset)) legend {
            float: none;
        }
        > fieldset{
            display: grid;
            gap: 2rem;
            padding: 3rem;
            background-color: var(--form-clr);
            border-radius: var(--border-radius);
            > legend {
                font-size: 1.3em;
            }
        }
        > button{
            background-color: var(--accent-clr);
            margin-bottom: 5rem;
            color: white;
            justify-self: auto;
        }
    }

}

/* ///////////// */
/* MARK: Erfgenamen
/* //////////// */
.erfgenamen{
    > button{
        display: none;
    }
    .erfgename{
        position: relative;
        display: grid;
        gap: 2rem;
        border-bottom: solid var(--border-clr) 1px;
        padding-bottom: 2rem;
        >button{
            position: absolute;
            right: 0;
            aspect-ratio: 1;
            display: grid;
            place-items: center;
            width: 2rem;
            padding: .2rem;
            span{
                display: block;
                background-color: var(--accent-clr);
                width: 90%;
                height: 1px;
                grid-row: 1;
                grid-column: 1;
                rotate: 45deg;
                &:last-of-type{
                    rotate: -45deg;
                }
            }
        }
    }
}

.hide-js {
    display: none !important;
}




/* ///////////// */
/* MARK: Algorithm
/* //////////// */
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/Next-sibling_combinator */

fieldset fieldset:has(.ga-naar-volgende:checked) ~ :is(label,fieldset){ /* Met hulp van Sanne */
    display: none;
}

fieldset fieldset:has(.ga-naar-volgende) ~ :is(label,fieldset){
    opacity: .4;
    pointer-events: none;
}

fieldset fieldset:has(.ga-naar-volgende):has(input:checked) ~ :is(label,fieldset){
    opacity: 1;
    pointer-events: auto;
}


/* vraag om hulp! */